<div class="notification-container">
  <h1>Lista de Usuarios</h1>

  <div class="cards">
    <mat-card
      *ngFor="
        let element of datasource.data.slice(
          (paginator?.pageIndex ?? 0) * (paginator?.pageSize ?? 5),
          ((paginator?.pageIndex ?? 0) + 1) * (paginator?.pageSize ?? 5)
        )
      "
      class="notification-card mat-elevation-z4"
    >
      <mat-card-title-group>
        <mat-card-title>{{ element.username }}</mat-card-title>
        <mat-icon class="editar">person</mat-icon>
      </mat-card-title-group>

      <mat-card-subtitle
        >id del usuario: {{ element.idUsuario }}</mat-card-subtitle
      >

      <mat-card-content>
        <p><strong>Telefono:</strong> {{ element.telefono }}</p>
        <p><strong>Correo:</strong> {{ element.correo }}</p>
        <p>
          <strong>Estado:</strong>
          <span [class]="element.enabled ? 'estado-activo' : 'estado-inactivo'">
            {{ element.enabled ? "Activo" : "Inactivo" }}
          </span>
        </p>
        <p><strong>Fecha de Registro</strong> {{ element.fecha_Registro }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-icon-button
          [routerLink]="['/usuarios/ediciones', element.idUsuario]"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="eliminar(element.idUsuario)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Paginador fuera del contenedor de cards -->
  <div class="pagination-wrapper">
    <mat-paginator
      [length]="datasource.data.length"
      [pageSize]="4"
      [pageSizeOptions]="[4, 8, 12]"
      showFirstLastButtons
      aria-label="Selecciona página de usuarios"
    >
    </mat-paginator>
  </div>
</div>
