<div>
  <h1>Lista de Recordatorio Simulacro</h1>

  <div class="cards">
    <mat-card *ngFor="let element of datasource" class="notification-card mat-elevation-z4">
      <mat-card-title>Recordatorio #{{ element.idRecordatorioSimulacro }}</mat-card-title>

      <mat-card-content>
        <p><strong>Fecha recordatorio:</strong> {{ element.fecha_recordatorio }}</p>
        <p><strong>Método de envío:</strong> {{ element.metodo_envio }}</p>
        <p><strong>Estado:</strong> {{ element.estado }}</p>
        <p><strong>Id Simulacro:</strong> {{ element.simulacro.idSimulacro }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button color="primary"
          [routerLink]="['/Recordatorios/EdicionesRecordatorios', element.idRecordatorioSimulacro]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(element.idRecordatorioSimulacro)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
