<div>
  <h1>Lista de Respuesta</h1>

  <div class="cards">
    <mat-card *ngFor="let element of datasource" class="notification-card mat-elevation-z4">
      <mat-card-title>Respuesta #{{ element.idRespuesta }}</mat-card-title>
      <mat-card-subtitle>{{ element.fechacreacion }}</mat-card-subtitle>

      <mat-card-content>
        <p><strong>Título:</strong> {{ element.titulo }}</p>
        <p><strong>Contenido:</strong> {{ element.contenido }}</p>
        <p><strong>Usuario:</strong> {{ element.usuario.username }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button [routerLink]="['/Respuestas/EdicionesRespuestas', element.idRespuesta]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="eliminar(element.idRespuesta)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
