<div class="register-container">
    <div class="register-header">
        <h1>Registrar Simulacro</h1>
    </div>
    <div class="register-form-wrapper">
        <form [formGroup]="form" (submit)="aceptar()" class="elegant-form">
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="recocodigo"/>
                <mat-error *ngIf="form.get('recocodigo')?.hasError('required')">
                    El ID es obligatorio
                </mat-error>
            </mat-form-field>
            <!-- fecha de fenomeno -->
              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Fecha de simulacro</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="recofecha" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('recofecha')?.hasError('required')">
                    La fecha es obligatoria
                </mat-error>
            </mat-form-field>

            <!--  metodo_envio -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Metodo de envio</mat-label>
                <input matInput formControlName="recometodo" required>
                <mat-error *ngIf="form.get('recometodo')?.hasError('required')">
                    El nombre del fenomeno es obligatorio
                </mat-error>
            </mat-form-field>
            <!-- estado-->
 <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>estado</mat-label>
                <input matInput formControlName="recoestado" required>
                <mat-error *ngIf="form.get('recoestado')?.hasError('required')">
                    El nombre del fenomeno es obligatorio
                </mat-error>
            </mat-form-field>
            
            <!-- id simulacro -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Brinda el ID de simulacro</mat-label>
                <input matInput formControlName="recosimulacro" required>
                <mat-error *ngIf="form.get('recosimulacro')?.hasError('required')">
                    El ID de simulacro es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('recosimulacro')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" class="submit-button" [disabled]="form.invalid">
                Registrar
            </button>
        </form>
    </div>
</div>

