<div>
    <div>
        <h1>Lista de Fenómenos Naturales</h1>
    </div>
    
    <div>
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- id Column -->
            <ng-container matColumnDef="c1">
              <th mat-header-cell *matHeaderCellDef> Id Fenómeno natural</th>
              <td mat-cell *matCellDef="let element"> {{element.idFenomenoNatural}} </td>
            </ng-container>
          
            <!-- name Column -->
            <ng-container matColumnDef="c2">
              <th mat-header-cell *matHeaderCellDef> Nombre del fenómeno </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre_fenomeno}} </td>
            </ng-container>
          
            <!-- duration Column -->
            <ng-container matColumnDef="c3">
              <th mat-header-cell *matHeaderCellDef> Intensidad</th>
              <td mat-cell *matCellDef="let element"> {{element.intensidad}} </td>
            </ng-container>
          
            <!-- type Column -->
            <ng-container matColumnDef="c4">
              <th mat-header-cell *matHeaderCellDef> Fecha del fenómeno </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha_fenomeno}} </td>
            </ng-container>

             <!-- type Column -->
            <ng-container matColumnDef="c5">
              <th mat-header-cell *matHeaderCellDef> Activo </th>
              <td mat-cell *matCellDef="let element"> {{element.activo? 'Activo' : 'Inactivo'}} </td>
            </ng-container>


          <ng-container matColumnDef="c6">
            <th mat-header-cell *matHeaderCellDef> Mapa </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button [routerLink]="['/Fenomenos/vermapa', element.ubicacion.latitud, element.ubicacion.longitud]">
                <mat-icon> place</mat-icon>
              </button>
            </td>
          </ng-container>

            <ng-container matColumnDef="c7">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let element">

                  <button mat-button [routerLink]="['/Fenomenos/EdicionesFenomenos',element.idFenomenoNatural]">

                  <mat-icon>edit</mat-icon>
                </button>
                </td>
              </ng-container>
          
            <ng-container matColumnDef="c8">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button 
                (click)="eliminar(element.idFenomenoNatural)"
                >
                <mat-icon>delete</mat-icon>
              </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>