<router-outlet></router-outlet>

<div [hidden]="route.children.length!==0">
    <app-listarusuario></app-listarusuario>
    <app-listarrol></app-listarrol>
    <app-listarubicacion></app-listarubicacion>
    <app-listar-simulacro></app-listar-simulacro>
    <app-listar-fenomeno-natural></app-listar-fenomeno-natural>
    <app-listar-tipo-fenomeno></app-listar-tipo-fenomeno>

    <app-listarrespuesta></app-listarrespuesta>
    <app-listarcomentario></app-listarcomentario>
    <app-listarsugerencia></app-listarsugerencia>
    <app-listarrecursoinformativo></app-listarrecursoinformativo>
</div>