.map-container {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  background: #f7f9fc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.map-container h2 {
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

.map-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.map-img {
  width: 100%;
  height: auto;
  display: block;
}

.loading-text {
  font-style: italic;
  color: #666;
  margin-top: 20px;
}


.button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;   
  height: 90px;     /* Centra verticalmente */          /* Ocupa toda la altura de la pantalla */
}

.download-btn {
  background-color: #F97316; /* Naranja terracota - CTA */
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.download-btn:hover {
  background-color: #ea580c;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}