<router-outlet></router-outlet>

<div [hidden]="route.children.length!==0">
    <app-listarusuario></app-listarusuario>
    <app-listar-simulacro></app-listar-simulacro>
    <app-listarrecordatoriosimulacro></app-listarrecordatoriosimulacro>
    <app-listarrecursoinformativo></app-listarrecursoinformativo>
    <app-listarubicacion></app-listarubicacion>
    <app-listar-fenomeno-natural></app-listar-fenomeno-natural>
    <app-listar-tipo-fenomeno></app-listar-tipo-fenomeno>
    <app-listarnotificaciones></app-listarnotificaciones>
    <app-listarcomentario></app-listarcomentario>
    <app-listarrespuesta></app-listarrespuesta>
</div>