<div class="register-container">
    <div class="register-header">
        <h1>Registrar fenomeno</h1>
    </div>
    <div class="register-form-wrapper">
        <form [formGroup]="form" (submit)="aceptar()" class="elegant-form">
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="fenocodigo"/>
                <mat-error *ngIf="form.get('fenocodigo')?.hasError('required')">
                    El ID es obligatorio
                </mat-error>
            </mat-form-field>

            <!-- Nombre de fenomeno -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Nombre del fenomeno</mat-label>
                <input matInput formControlName="fenoname" required>
                <mat-error *ngIf="form.get('fenoname')?.hasError('required')">
                    El nombre del fenomeno es obligatorio
                </mat-error>
            </mat-form-field>
            <!-- intensidad de fenomeno -->
 <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>intensidad del fenomeno</mat-label>
                <input matInput formControlName="fenointensidad" required>
                <mat-error *ngIf="form.get('fenointensidad')?.hasError('required')">
                    El nombre del fenomeno es obligatorio
                </mat-error>
            </mat-form-field>
            <!-- fecha de fenomeno -->
              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Fecha de fenomeno</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fenofecha" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('fenofecha')?.hasError('required')">
                    La fecha es obligatoria
                </mat-error>
            </mat-form-field>
            <!-- Estado -->
            <div class="radio-group-container">
                <label class="radio-group-label">Activo</label>
                <mat-radio-group formControlName="fenoactivo" class="elegant-radio-group">
                    <mat-radio-button [value]="true" class="elegant-radio-button">Activo</mat-radio-button>
                    <mat-radio-button [value]="false" class="elegant-radio-button">Inactivo</mat-radio-button>
                </mat-radio-group>
            </div>
            <!-- id ubicacion -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Brinda el ID de ubicacion</mat-label>
                <input matInput formControlName="fenoubicacion" required>
                <mat-error *ngIf="form.get('fenoubicacion')?.hasError('required')">
                    El ID de ubicacion es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('fenoubicacion')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" class="submit-button" [disabled]="form.invalid">
                Registrar
            </button>
        </form>
    </div>
</div>
