<div class="register-container">
    <div class="register-header">
        <h1>Registro de Respuesta</h1>
    </div>
    <div class="register-form-wrapper">
        <form [formGroup]="form" (submit)="aceptar()" class="elegant-form">
            
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="respuestacodigo"/>
                <mat-error *ngIf="form.get('respuestacodigo')?.hasError('required')">
                    El ID es obligatorio
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Titulo</mat-label>
                <input matInput formControlName="respuestatitulo" required>
                <mat-error *ngIf="form.get('respuestatitulo')?.hasError('required')">
                    El titulo de la respuesta es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('respuestatitulo')?.hasError('maxlength')">
                    Maximo 20 caracteres
                </mat-error>  
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de creacion</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="respuestafechacreacion" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('respuestafechacreacion')?.hasError('required')">
                    La fecha es obligatoria
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Contenido</mat-label>
                <input matInput formControlName="respuestacontenido" required>
                <mat-error *ngIf="form.get('respuestacontenido')?.hasError('required')">
                    El contenido de la respuesta es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('respuestacontenido')?.hasError('maxlength')">
                    Maximo 150 caracteres
                </mat-error>              
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Brinda el ID del usuario</mat-label>
                <input matInput formControlName="respuestausuario" required>
                <mat-error *ngIf="form.get('respuestausuario')?.hasError('required')">
                    El ID del usuario es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('respuestausuario')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" class="submit-button" [disabled]="form.invalid">
                Registrar
            </button>
        </form>
    </div>
</div>