<div class="register-container">
    <div class="register-header">
        <h1>Registro de Tipo Fenomeno</h1>
    </div>
    <div class="register-form-wrapper">
        <form [formGroup]="form" (submit)="aceptar()" class="elegant-form">
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="tipofenomenocodigo"/>
                <mat-error *ngIf="form.get('tipofenomenocodigo')?.hasError('required')">
                    El ID es obligatorio
                </mat-error>
            </mat-form-field>

            <!-- Nombre de tipo fenomeno natural -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Nombre del tipo fenomeno natural</mat-label>
                <mat-select formControlName="tipofenomenonombre">
                    @for (food of tipos; track food) 
                    {
                    <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="form.get('tipofenomenonombre')?.hasError('required')">
                El tipo fenomeno es obligatorio!!
                </mat-error>
                <mat-error *ngIf="form.get('tipofenomenonombre')?.hasError('maxlength')">
                    Maximo 50 caracteres
                </mat-error> 
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Descripción del tipo fenomeno natural</mat-label>
                <input matInput formControlName="tipofenomenodescripcion" required>
                <mat-error *ngIf="form.get('tipofenomenodescripcion')?.hasError('required')">
                    La Descripción del tipo fenomeno natural es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('tipofenomenodescripcion')?.hasError('maxlength')">
                    Maximo 200 caracteres
                </mat-error> 
            </mat-form-field>

            <!-- id user -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Brinda el ID del fenomeno natural</mat-label>
                <input matInput formControlName="tipofenomenofemnatural" required>
                <mat-error *ngIf="form.get('tipofenomenofemnatural')?.hasError('required')">
                    El ID del fenomeno natural es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('tipofenomenofemnatural')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" class="submit-button" [disabled]="form.invalid">
                Registrar
            </button>
        </form>
    </div>
</div>

