<div class="register-container">
    <div class="register-header">
        <h1>Registro de Recordatorio Simulacro</h1>
    </div>
    <div class="register-form-wrapper">
        <form [formGroup]="form" (submit)="aceptar()" class="elegant-form">
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="recordatoriocodigo"/>
                <mat-error *ngIf="form.get('recordatoriocodigo')?.hasError('required')">
                    El ID es obligatorio
                </mat-error>
            </mat-form-field>

              <!-- Fecha de registro -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Fecha del recordatorio</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="recordatoriofecha" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('recordatoriofecha')?.hasError('required')">
                    La fecha es obligatoria
                </mat-error>
            </mat-form-field>

            <!-- envio -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Metodo de envio</mat-label>
                <input matInput formControlName="recordatoriometodoenvio" required>
                <mat-error *ngIf="form.get('recordatoriometodoenvio')?.hasError('required')">
                    El metodo de envio es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('recordatoriometodoenvio')?.hasError('maxlength')">
                    Maximo 40 caracteres
                </mat-error>       
            </mat-form-field>

             <!-- Estado -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Estado del recordatorio</mat-label>
                <input matInput formControlName="recordatorioestado" required>
                <mat-error *ngIf="form.get('recordatorioestado')?.hasError('required')">
                    El estado del recordatorio es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('recordatorioestado')?.hasError('maxlength')">
                    Maximo 30 caracteres
                </mat-error>    
            </mat-form-field>

            <!-- id simulacro -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Brinda el ID del simulacro</mat-label>
                <input matInput formControlName="recordatoriosimulacro" required>
                <mat-error *ngIf="form.get('recordatoriosimulacro')?.hasError('required')">
                    El ID del usuario es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('recordatoriosimulacro')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" class="submit-button" [disabled]="form.invalid">
                Registrar
            </button>
        </form>
    </div>
</div>

