<div>

    <div>
        <h1>Lista de Recursos Informativos</h1>
    </div>
  <div class="cards">
    <mat-card *ngFor="let element of datasource" class="notification-card mat-elevation-z4">
      <mat-card-title>Recurso #{{ element.idRecursoInformativo }}</mat-card-title>
      <mat-card-subtitle>{{ element.fecha_publicacion }}</mat-card-subtitle>

      <mat-card-content>
        <p><strong>Tipo de recurso:</strong> {{ element.tipo }}</p>
        <p><strong>Título:</strong> {{ element.titulo }}</p>
        <p><strong>Descripción:</strong> {{ element.descripcion }}</p>
        <p><strong>URL:</strong> 
          <a href="{{ element.url }}" target="_blank" rel="noopener noreferrer">
            {{ element.url }}
          </a>
        </p>
        <p><strong>Usuario:</strong> {{ element.usuario.username }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button color="primary"
          [routerLink]="['/Recursos/EdicionesRecursos', element.idRecursoInformativo]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(element.idRecursoInformativo)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
