<div class="register-container">
    <div class="register-header">
        <h1>Registro de Notificación</h1>
    </div>
    <div class="register-form-wrapper">
        <form [formGroup]="form" (submit)="aceptar()" class="elegant-form">
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="notificacioncodigo"/>
                <mat-error *ngIf="form.get('notificacioncodigo')?.hasError('required')">
                    El ID es obligatorio
                </mat-error>
            </mat-form-field>

            <!-- titulo -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Titulo de la notificación</mat-label>
                <input matInput formControlName="notificaciontitulo" required>
                <mat-error *ngIf="form.get('notificaciontitulo')?.hasError('required')">
                    El titulo de la notificación es obligatorio
                </mat-error>
            </mat-form-field>

            <!-- resumen -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Resumen de la notificación</mat-label>
                <input matInput formControlName="notificacionresumen" required>
                <mat-error *ngIf="form.get('notificacionresumen')?.hasError('required')">
                    El resumen de la notificación es obligatorio
                </mat-error>
            </mat-form-field>

             <!-- Fecha de emision -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Fecha de emisión</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="notificacionfechaemision" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('notificacionfechaemision')?.hasError('required')">
                    La fecha es obligatoria
                </mat-error>
            </mat-form-field>

             <!-- Fecha de expiracion -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Fecha de expiración</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="notificacionfechaexpiracion" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('notificacionfechaexpiracion')?.hasError('required')">
                    La fecha es obligatoria
                </mat-error>
            </mat-form-field>

             <!-- Estado -->
            <div class="radio-group-container">
                <label class="radio-group-label">Estado</label>
                <mat-radio-group formControlName="notificacionrevisada" class="elegant-radio-group">
                    <mat-radio-button [value]="true" class="elegant-radio-button">Revisado</mat-radio-button>
                    <mat-radio-button [value]="false" class="elegant-radio-button">No revisado</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- id user -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Brinda el ID del usuario</mat-label>
                <input matInput formControlName="notificacionusuario" required>
                <mat-error *ngIf="form.get('notificacionusuario')?.hasError('required')">
                    El ID del usuario es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('notificacionusuario')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" class="submit-button" [disabled]="form.invalid">
                Registrar
            </button>
        </form>
    </div>
</div>

