<div class="notification-container">
    <div>
          <h1>Lista de Tipo de Fenómeno</h1>
    </div>

  <div class="cards">
    <mat-card *ngFor="let element of datasource.data.slice(
        ((paginator?.pageIndex ?? 0) * (paginator?.pageSize ?? 5)),
        (((paginator?.pageIndex ?? 0) + 1) * (paginator?.pageSize ?? 5)))"
        class="notification-card mat-elevation-z4">


      <mat-card-title-group>
        <mat-card-title>Tipo de Fenómeno #{{ element.idTipoFenomeno }}</mat-card-title>
        <mat-icon class="editar">wb_cloudy</mat-icon>
      </mat-card-title-group>
      

      <mat-card-content>
        <p><strong>Nombre tipo:</strong> {{ element.nombre_tipo }}</p>
        <p><strong>Descripción:</strong> {{ element.descripcion }}</p>
        <p><strong>Id Fenómeno Natural:</strong> {{ element.fenomenoNatural.idFenomenoNatural }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button 
          [routerLink]="['/TipoFenomenos/EdicionesTipoFenomenos', element.idTipoFenomeno]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(element.idTipoFenomeno)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Paginador fuera del contenedor de cards -->
  <div class="pagination-wrapper">
    <mat-paginator [length]="datasource.data.length"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Selecciona página de notificaciones">
    </mat-paginator>
  </div>
</div>
