<div class="register-container">
    <div class="register-header">
        <h1>Registro de Recurso informativo</h1>
    </div>
    <div class="register-form-wrapper">
        <form [formGroup]="form" (submit)="aceptar()" class="elegant-form">
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="recursocodigo"/>
                <mat-error *ngIf="form.get('recursocodigo')?.hasError('required')">
                    El ID es obligatorio
                </mat-error>
            </mat-form-field>

            <!-- Tipo -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Tipo de recurso informativo</mat-label>
                <input matInput formControlName="recursotipo" required>
                <mat-error *ngIf="form.get('recursotipo')?.hasError('required')">
                    El tipo del recurso informativo es obligatorio
                </mat-error>
            </mat-form-field>

              <!-- titulo -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Titulo de recurso informativo</mat-label>
                <input matInput formControlName="recursotitulo" required>
                <mat-error *ngIf="form.get('recursotitulo')?.hasError('required')">
                    El titulo del recurso informativo es obligatorio
                </mat-error>
            </mat-form-field>

              <!-- descrip -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Descripción de recurso informativo</mat-label>
                <input matInput formControlName="recursodescripcion" required>
                <mat-error *ngIf="form.get('recursodescripcion')?.hasError('required')">
                    La Descripción del recurso informativo es obligatorio
                </mat-error>
            </mat-form-field>

              <!-- url -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Url del recurso informativo</mat-label>
                <input matInput formControlName="recursourl" required>
                <mat-error *ngIf="form.get('recursourl')?.hasError('required')">
                    La Url del recurso informativo es obligatorio
                </mat-error>
            </mat-form-field>

            <!-- Fecha de publicacion -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Fecha de la publicación </mat-label>
                <input matInput [matDatepicker]="picker" formControlName="recursofechapublicacion" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('recursofechapublicacion')?.hasError('required')">
                    La fecha de la publicación es obligatoria
                </mat-error>
            </mat-form-field>

            <!-- id user -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Brinda el ID del usuario</mat-label>
                <input matInput formControlName="recursousuario" required>
                <mat-error *ngIf="form.get('recursousuario')?.hasError('required')">
                    El ID del usuario es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('recursousuario')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" class="submit-button" [disabled]="form.invalid">
                Registrar
            </button>
        </form>
    </div>
</div>

