<div class="register-container">
    <div class="register-header">
        <h1>Registro de Ubicacion</h1>
    </div>
    <div class="register-form-wrapper">
        <form [formGroup]="form" (submit)="aceptar()" class="elegant-form">
            
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="ubicacioncodigo"/>
                <mat-error *ngIf="form.get('ubicacioncodigo')?.hasError('required')">
                    El ID es obligatorio
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Latitud</mat-label>
                <input matInput formControlName="ubicacionlatitud" required>
                <mat-error *ngIf="form.get('ubicacionlatitud')?.hasError('required')">
                    La latitud de la ubicacion es obligatoria
                </mat-error>
                <mat-error *ngIf="form.get('ubicacionlatitud')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Longitud</mat-label>
                <input matInput formControlName="ubicacionlongitud" required>
                <mat-error *ngIf="form.get('ubicacionlongitud')?.hasError('required')">
                    La longitud de la ubicacion es obligatoria
                </mat-error>
                <mat-error *ngIf="form.get('ubicacionlongitud')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Altitud</mat-label>
                <input matInput formControlName="ubicacionaltitud" required>
                <mat-error *ngIf="form.get('ubicacionaltitud')?.hasError('required')">
                    La altitud de la ubicacion es obligatoria
                </mat-error>
                <mat-error *ngIf="form.get('ubicacionaltitud')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ubicacionciudad" required>
                <mat-error *ngIf="form.get('ubicacionciudad')?.hasError('required')">
                    La ciudad de la ubicacion es obligatoria
                </mat-error>
                <mat-error *ngIf="form.get('ubicacionciudad')?.hasError('maxlength')">
                    Maximo 20 caracteres
                </mat-error>              
            </mat-form-field>


            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Region</mat-label>
                <input matInput formControlName="ubicacionregion" required>
                <mat-error *ngIf="form.get('ubicacionregion')?.hasError('required')">
                    La region de la ubicacion es obligatoria
                </mat-error>
                <mat-error *ngIf="form.get('ubicacionregion')?.hasError('maxlength')">
                    Maximo 20 caracteres
                </mat-error>              
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Pais</mat-label>
                <input matInput formControlName="ubicacionpais" required>
                <mat-error *ngIf="form.get('ubicacionpais')?.hasError('required')">
                    La region de la ubicacion es obligatoria
                </mat-error>
                <mat-error *ngIf="form.get('ubicacionpais')?.hasError('maxlength')">
                    Maximo 20 caracteres
                </mat-error>              
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Codigo Postal</mat-label>
                <input matInput formControlName="ubicacioncodigopostal" required>
                <mat-error *ngIf="form.get('ubicacioncodigopostal')?.hasError('required')">
                    El codigo postal de la ubicacion es obligatoria
                </mat-error>
                <mat-error *ngIf="form.get('ubicacionpais')?.hasError('maxlength')">
                    Maximo 5 caracteres
                </mat-error>       
            </mat-form-field>
   
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Brinda el ID del usuario</mat-label>
                <input matInput formControlName="ubicacionusuario" required>
                <mat-error *ngIf="form.get('ubicacionusuario')?.hasError('required')">
                    El ID del usuario es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('ubicacionusuario')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" class="submit-button" [disabled]="form.invalid">
                Registrar
            </button>
        </form>
    </div>
</div>