<div>
  <h1>Lista de Simulacros</h1>

  <div class="cards">
    <mat-card *ngFor="let element of datasource" class="notification-card mat-elevation-z4">
      <mat-card-title>Simulacro #{{ element.idSimulacro }}</mat-card-title>

      <mat-card-content>
        <p><strong>Título:</strong> {{ element.titulo }}</p>
        <p><strong>Fecha simulacro:</strong> {{ element.fecha_simulacro }}</p>
        <p><strong>Duración (minutos):</strong> {{ element.duracion_minutos }}</p>
        <p><strong>Tipo:</strong> {{ element.tipo }}</p>
        <p><strong>Id Ubicación:</strong> {{ element.ubicacion.idUbicacion }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button color="primary" [routerLink]="['/Simulacros/EdicionesSimulacros', element.idSimulacro]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(element.idSimulacro)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
