<div class="register-container">
    <div class="register-header">
        <h1>Registro de notifiaciones</h1>
    </div>
    <div class="register-form-wrapper">
        <form [formGroup]="form" (submit)="aceptar()" class="elegant-form">
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="nococodigo"/>
                <mat-error *ngIf="form.get('nococodigo')?.hasError('required')">
                    El ID es obligatorio
                </mat-error>
            </mat-form-field>

            <!-- titulo -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>titulo</mat-label>
                <input matInput formControlName="notitulo" required>
                <mat-error *ngIf="form.get('notitulo')?.hasError('required')">
                    El titulo es obligatorio
                </mat-error>
            </mat-form-field>
           <!-- resumen -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>titulo</mat-label>
                <input matInput formControlName="noresumen" required>
                <mat-error *ngIf="form.get('noresumen')?.hasError('required')">
                    El resumen es obligatorio
                </mat-error>
            </mat-form-field>
            <!-- Fecha de emicion -->
              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Fecha de emicion</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="nofechaemision" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('nofechaemision')?.hasError('required')">
                    La fecha es obligatoria
                </mat-error>
            </mat-form-field>

             <!-- Fecha de expiracion -->
              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Fecha de emicion</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="nofechaexpiracion" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('nofechaexpiracion')?.hasError('required')">
                    La fecha es obligatoria
                </mat-error>
            </mat-form-field>


            <!-- Estado -->
            <div class="radio-group-container">
                <label class="radio-group-label">Estado</label>
                <mat-radio-group formControlName="norevisado" class="elegant-radio-group">
                    <mat-radio-button [value]="true" class="elegant-radio-button">Si</mat-radio-button>
                    <mat-radio-button [value]="false" class="elegant-radio-button">NO</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- id usuario -->
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Brinda el ID de usuario</mat-label>
                <input matInput formControlName="nousuario" required>
                <mat-error *ngIf="form.get('nousuario')?.hasError('required')">
                    El ID de usuario es obligatorio
                </mat-error>
                <mat-error *ngIf="form.get('nousuario')?.hasError('pattern')">
                    Ingrese solo números
                </mat-error>
            </mat-form-field>

         

            <button mat-raised-button color="primary" class="submit-button" [disabled]="form.invalid">
                Registrar
            </button>
        </form>
    </div>
</div>

